<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  <table border="1">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Edad</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Juan</td>
        <td>Pérez García</td>
        <td>28</td>
      </tr>
      <tr>
        <td>María</td>
        <td>López Fernández</td>
        <td>34</td>
      </tr>
      <tr>
        <td>Carlos</td>
        <td>Ramírez Soto</td>
        <td>22</td>
      </tr>
      <tr>
        <td>Lucía</td>
        <td>Martínez Ruiz</td>
        <td>30</td>
      </tr>
    </tbody>
  </table>
  </body>
</html>
